---
import { Game } from "../../../scripts/notion/getGames";
import { Talent } from "../../../scripts/notion/getRosters";

type Props = {
  game: Game;
  person: Talent;
};

const { game, person } = Astro.props;

const limitWidth = game.roster.length < 5;
---

<div
  class="relative aspect-[21/30] w-full flex max-lg:w-60 max-lg:flex-shrink-0 rounded-xl border-fix group cursor-pointer overflow-hidden"
  style={`background-color:${game.color}; max-width:${
    limitWidth ? "18rem" : "100%"
  }`}
>
  <img
    src={person.image}
    alt={person.name}
    class="w-full pt-8 object-contain z-10 group-hover:translate-y-[4.5rem] max-lg:translate-y-[4.5rem] transition-transform"
  />
  <div class="absolute top-6 w-full text-center">
    <h3 class="font-luckiest-guy text-4xl text-white">
      {person.name}
    </h3>
    <p class="font-cabin text-white font-semibold">{person.role}</p>
  </div>
  <div
    class="absolute h-full w-full bg-darkgrey rounded-[0.6rem] group-hover:opacity-0 opacity-1 max-lg:opacity-0 transition-opacity"
  >
  </div>
</div>
