---
import type { Event } from "../utils/getSchedule";

type Props = {
  event: Event;
};
const { event } = Astro.props;

const parsed = () => {
  const type = event.summary?.split(" ")[0].replace("[", "").replace("]", "");
  let color = "#E93737";
  let image = "/smash.webp";

  switch (type.toLowerCase()) {
    case "csgo":
      color = "#71C5E8";
      image = "/csgo.webp";
      break;
    case "dota":
      color = "#E83737";
      image = "/dota.webp";
      break;
    case "melee":
      color = "#ACDAA9";
      break;
    case "pokemon":
      color = "#FF4601";
      image = "/pokemon.webp";
      break;
  }

  return {
    summary: event.summary?.split(" ").slice(1).join(" "),
    description: event.description,
    image,
    color,
    location: event.location,
    htmlLink: event.htmlLink,
    tags: [type],
  };
};
---

<a
  href={parsed().location || parsed().htmlLink}
  target="_blank"
  rel="noopener noreferrer"
  draggable={false}
  class="relative snap-start max-xs:snap-center first:ml-16 max-lg:first:ml-8 last:mr-16 max-lg:last:mr-8"
>
  <div
    style={{ "background-color": parsed().color }}
    class="absolute w-full h-full rounded-xl"
  >
  </div>
  <div
    class="flex flex-col relative hover:translate-x-1 hover:-translate-y-1 duration-300 rounded-xl bg-black border-[#161616] overflow-hidden border-2 w-[375px] h-[450px] max-lg:w-[300px] max-lg:h-[360px] max-xs:w-[80vw] max-xs:h-[100vw]"
  >
    <img
      src={parsed().image}
      alt={parsed().summary}
      draggable={false}
      class="h-40 max-lg:h-[128px] max-xs:h-[32vw] object-cover select-none"
    />
    <div class="flex flex-col flex-1 justify-between gap-2 p-4 max-xs:p-3">
      <div>
        <h3
          class="font-bebas-neue text-white text-2xl max-lg:text-xl select-none"
        >
          {parsed().summary}
        </h3>
        <p
          class="text-base max-lg:text-sm leading-normal overflow-ellipsis overflow-hidden select-none"
        >
          {parsed().description}
        </p>
      </div>

      <ul class="flex gap-2">
        {
          parsed().tags.map((tag) => (
            <li
              style={{ "background-color": parsed().color }}
              class=" text-white hover:bg-[#eb5050] font-semibold px-2 py-0.5 rounded-lg text-sm w-fit select-none cursor-pointer"
            >
              {tag}
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</a>
