---
import MobileNav from "./MobileNav";
---

<header
  class="sticky top-0 w-full flex max-xl:justify-between items-center gap-16 p-8 z-20"
>
  <a
    href="/"
    draggable={false}
    class="flex gap-4 group items-center cursor-pointer select-none"
  >
    <img
      src="/logo.svg"
      alt="Nouns Esports Logo"
      draggable={false}
      class="group-hover:rotate-[14deg] w-10 transition-transform duration-150 delay-0"
    />
    <p
      class="text-white font-luckiest-guy text-3xl select-none max-[300px]:hidden"
    >
      Nouns
    </p>
  </a>
  <nav
    class="flex items-center gap-6 cursor-pointer text-lg font-medium select-none max-sm:hidden"
  >
    <a
      href="/teams"
      draggable={false}
      class="hover:text-white transition-colors duration-300"
    >
      Teams
    </a>
    <a
      href="/schedule"
      draggable={false}
      class="hover:text-white transition-colors duration-300"
    >
      Schedule
    </a>
    <a
      href="/about"
      draggable={false}
      class="hover:text-white transition-colors duration-300"
    >
      About
    </a>
    <!-- <a
      href="https://shop.nouns.gg"
      draggable={false}
      class="hover:text-white transition-colors duration-300"
    >
      Shop
    </a> -->
  </nav>
  <MobileNav client:load />
</header>
