---
import Discord from "../SocialIcons/Discord.astro";
import Twitch from "../SocialIcons/Twitch.astro";
import Twitter from "../SocialIcons/Twitter.astro";
import Youtube from "../SocialIcons/Youtube.astro";
import FooterSection from "./FooterSection.astro";
import FooterLink from "./FooterLink.astro";
import Logo from "../Logo.astro";

import { navigation, metadata, games } from "../../layouts/Layout.astro";
---

<footer
  class="flex max-md:flex-col max-md:gap-16 border-[var(--primaryColor)] justify-between items-center p-8 bg-darkgrey border-t-4 relative z-20"
>
  <div class="flex flex-col gap-4 max-md:items-center">
    <a
      href="/"
      draggable={false}
      class="flex gap-4 group items-center cursor-pointer select-none"
    >
      <Logo
        class="text-[var(--primaryColor)] group-hover:rotate-[14deg] w-10 transition-transform duration-150"
      />
      <p class="text-white font-luckiest-guy text-3xl select-none">Nouns</p>
    </a>
    <p class="w-48 max-md:text-center">
      {metadata.tagline}
    </p>
  </div>
  <div
    class="flex gap-40 max-lg:gap-20 max-[500px]:gap-8 max-[300px]:flex-col max-[300px]:gap-16"
  >
    <FooterSection title="EXPLORE">
      {
        navigation.map(({ url, name }) => (
          <FooterLink url={url}>{name}</FooterLink>
        ))
      }
    </FooterSection>
    <FooterSection title="GAMES">
      {
        games.map(({ name }) => (
          <FooterLink
            url={`/games/${name
              .normalize("NFD")
              .replace(/[\u0300-\u036f]/g, "")
              .toLowerCase()
              .replace(/ /g, "-")}`}
          >
            {name}
          </FooterLink>
        ))
      }
    </FooterSection>
    <FooterSection title="NOUNS">
      <FooterLink url="https://nouns.wtf">Nouns</FooterLink>
      <FooterLink url="https://nouns.wtf/proposals">Proposals</FooterLink>
    </FooterSection>
  </div>
  <div
    class="flex flex-col max-md:flex-row gap-4 items-center justify-center text-white"
  >
    <Twitch class="w-6" />
    <Twitter class="w-7" />
    <Youtube class="w-7" />
    <Discord class="w-7" />
  </div>
</footer>
