---
import BackgroundEffect from "../components/BackgroundEffect.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Banner from "../components/Banner.astro";
import fetchCache from "../utils/fetchCache";

type Props = {
  title: string;
};

const { title } = Astro.props;

const { schedule, metadata, projects, teams, talent } = fetchCache();
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth overflow-x-hidden">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1"
    />
    <script defer src="/_vercel/insights/script.js"></script>
    <link
      rel="preload"
      href="/fonts/BebasNeue.ttf"
      as="font"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/Cabin.ttf"
      as="font"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/LuckiestGuy.ttf"
      as="font"
      crossorigin="anonymous"
    />
    <link rel="icon" type="image/svg" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Nouns Esports {title ? "-" : ""} {title}</title>
    <meta name="description" content={metadata.tagline} />
  </head>

  <body
    class="bg-black text-grey font-cabin selection:text-white selection:bg-red"
  >
    <BackgroundEffect />
    {
      metadata.banner ? (
        <Banner href={metadata.banner.url}>{metadata.banner.message}</Banner>
      ) : (
        ""
      )
    }
    <Header />

    <div class="relative z-10">
      <slot />
    </div>
    <Footer />
  </body>
</html>

<style>
  @font-face {
    font-family: Luckiest Guy;
    font-weight: 400;
    src: url(/fonts/LuckiestGuy.ttf) format("truetype");
  }

  @font-face {
    font-family: Bebas Neue;
    font-weight: 400;
    src: url(/fonts/BebasNeue.ttf) format("truetype");
  }

  @font-face {
    font-family: Cabin;
    font-weight: 400;
    src: url(/fonts/Cabin.ttf) format("truetype");
  }
</style>
